.features__section {
    margin-top: 15rem;
}

.features__box {
    margin-top: 7.167rem;
    display: flex;
    flex-wrap: wrap;
}

.feature__box {
    width: 17rem;
    margin-right: 2.875rem;
}

.feature__image-box {
    margin-right: 17rem;
    margin-bottom: 5.708rem;
      /*a imagem tem 69px de margin bottom, mas preferi setar um height no contâiner da imagem como 91px, que é 69px da margem mais o tamanho da própria imagem, que é 32px.*/
}

.feature__description {
    height: 10.125rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.features__section .description__title {
    font-size: 1.375rem;
}

.features__section .description__paragraph {
    /*acho que é melhor deixar todos os parágrafos com a mesma classe, e alterar a que for necessária. Por exemplo, o parágrafos da features__section tem os mesmo estilos que a da adv__section, só muda a font-size. Fiz a mesma coisa com o description__title acima*/
    font-size: 0.875rem;
}