.introduction__box {
    width: 46.313rem;
    height: 33.563rem; 
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 24rem;
    left: 3.938rem;
    /* margin: 384px 0 0 63px; */
       /*eu acabei de descobri que, mesmo se o position seja absolute, o elemento ainda terá espaçamento de acordo com o elemento mais próximo usando margin. Interessante isso*/
    background: #FFFFFF;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1);
}

.introduction__box__content {
    margin: 6rem 9.75rem 0 4rem;
}

.introduction__box__title {
    width: 32.563rem;
    font-family: 'Merriweather', serif;
    font-size: 2.438rem;
    font-weight: 700;
    line-height: 3.063rem;
}

.introduction__box__title--highlighted {
    display: inline;
    color: var(--orange);
}

.introduction__box__description {
    width: 32.188rem;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem;
    /* margin: 1.813rem 0;
    color: #666666; */
}

.introduction__box .btn {
    /*aqui fica o estilo especifíco para o botão do .main__section*/
    margin-bottom: 1.938rem; 
       /*no figma, o espaçamento é de acordo com o texto, e o margin-bottom a partir do texto é de 96px. Então, se a altura do botão é de 65px, fiz um margin-bottom de 31px (65+31=96). Isso deixa o espaçamento igual ao figma, eu acho rs*/
}