@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

:root {
    --orange: #F78865;
} 

* {
    padding: 0;
    margin: 0;
    border: none; 
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.main {
    margin-left: 7.938rem;
      /*Para alinhar todas as sections com o texto da introduction__box, eu fiz uma margin para o main. Assim todas as sections dentro do main terão esse espaçamento*/
}