.top__section {
    width: 100vw;
    height: 920px;
      /*Queria que o height fosse do tamanho do conteúdo, mas não tenho ideia de como resolver esse problema, já que os elementos filhos de top__section estão setados como absolute :/. O valor que foi setado é aproximado, não sei se é um problema isso ou tem alguma forma de resolver o problema com position absolute.*/
}

.banner {
    width: 100%;
    height: 650px;
    background: url(../../img/top-section/bg.png);
    background-size: cover;
    position: absolute; 
    top: 0;
    left: 0;
    z-index: -1;
 }